mixin filter(cls, arr, active)
    .filter(class='' + cls + '__filter')
        - for(let i = 0; i < arr.length; i++)
            if(i == active) 
                .btn.btn--filter-item.is-active= arr[i]
            else
                .btn.btn--filter-item= arr[i]