include icon

mixin social(mix)
    .social(class='' + mix)
        a.social__link(href='//www.instagram.com/czn.moyarabota/?igshid=10erac5i2oyhx')
            +icon('/', 'ig')
        a.social__link(href='//vk.com/czn.moyarabota')
            +icon('/', 'vk')
        a.social__link(href='//www.facebook.com/czn.moyarabota/')
            +icon('/', 'fb')