mixin tabs-nav(arrNav, isActive, arrCls)
    section.tabs
        .tabs-nav
            .container
                - for(let i = 0; i < arrNav.length; i++)
                    if(i == isActive)
                        .tabs-nav__item(data-tab-name = 'tab__' + arrCls[i]).is-active= arrNav[i]
                    else
                        .tabs-nav__item(data-tab-name = 'tab__' + arrCls[i])= arrNav[i]
    section.tabs-content
            .container
                block

mixin tabs-content(isActive, cls)
    if(isActive)
        .tabs-content__item(class = 'tab__' + cls).is-active
            block
    else
        .tabs-content__item(class = 'tab__' + cls)
            block