include ../components/icon
mixin userCard(cls, path)
    .user-card(class = '' + cls + '__user-card')
        img.user-card__img(src='' + path + 'img/stub/no-img.jpg', alt='User')
        .user-card__tooltip-elements
            .tooltip-element
                +icon(path, 'e-mail')
                span.tooltip somepost@somedomen.com
            .tooltip-element
                +icon(path, 'phone')
                span.tooltip somephone
        span.user-card__initial Фамилия Имя Отчество
        span.user-card__departament Отдел эксплуатации автоматизированных систем
        span.user-card__position Заместитель начальника отдела