.header
    &__header-top
        background-color: $palette__primary
        display: flex
        justify-content: center

.header-top
    .container
        display: grid
        grid-template-columns: minmax(min-content, max-content) 1fr minmax(min-content, max-content) minmax(min-content, max-content)
        grid-template-areas: 'logo . social user-nav'
        column-gap: $gutter
        width: 100%
        padding: 0.5rem 0

    &__logo
        grid-area: logo
    .logo
        &__img
            max-width: 240px

    &__user-nav
        grid-area: user-nav
        display: flex
        align-items: center
    .user-nav
        &__link
            padding: 0 0.5rem
            +textline($palette__background, $headline, $font-bold,uppercase)
            transition: $fast
            &:hover
                color: $palette__secondary-accent
        &__dropdown
            display: none
