$color__nile-blue: #173B55
$color__cello: #1D455E
$color__blue-chill: #0A8B91
$color__azure: #3A5DAE
$color__blue: #0503FE
$color__indigo: #5576D1    
$color__seagull: #6CACE4
$color__regent-st-blue: #A6CADF
$color__red-ribbon: #EE103F
$color__rose: #EF0068
$color__forest-green: #33AD28
$color__dove-gray: #737373
$color__gray: #7E7E7E
$color__silver-chalice: #B0B0B0
$color__wild-sand: #F4F4F4
$color__white: #FFFFFF
$color__black: #000000



// Accent palette
$palette__primary-accent: $color__rose
$palette__primary-accent-darken: $color__red-ribbon
$palette__secondary-accent: $color__seagull
$palette__foreground-accent: $color__forest-green
$palette__another-accent: $color__blue
$palette__another-accent-lighten: $color__blue-chill

// Main palette
$palette__primary: $color__azure
$palette__another: $color__indigo
$palette__another-dark: $color__cello
$palette__foreground: $color__wild-sand
$palette__background: $color__white
$palette__background-dark: $color__nile-blue
$palette__background-light:  $color__regent-st-blue

// Fifty shades of gray lol  
$palette__darken-than-black: $color__black
$palette__secondary: $color__gray
$palette__secondary-lighten: $color__silver-chalice
$palette__secondary-darken: $color__dove-gray
$palette__secondary-light: $color__seagull  //Not a gray lol