//Properties
$gutter: 1rem 
$headline: 1rem 
$subheadline: 0.875rem
$textline: 0.8125rem
$shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) 
$shadow-lighten: 5px 5px 10px rgba(0, 0, 0, 0.3) 
$border-radius: 0.5rem

//Fonts
$font-regular: 'MyriadProReg'
$font-bold: 'MyriadProBold'

//Transition
$fast: all .3s ease-in-out