//Properties
$gutter: 20px 
$header: 16px 
$subheader: 14px
$description: 13px 
$shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) 
$shadow-light: 5px 5px 10px rgba(0, 0, 0, 0.3) 
$border-radius: 7px

//Fonts
$regular: 'MyriadProReg'
$bold: 'MyriadProBold'