#documents
    display: grid
    grid-template-rows: minmax(min-content, max-content) 1fr
    min-height: 100vh

.documents
    &--align
        display: grid
        grid-template-rows: 1fr minmax(min-content, max-content)