.location
    &--align
        display: flex
        justify-content: center
        padding: 3rem 0
    .container
        display: grid
        grid-template-columns: repeat(1, 15.75rem)
        column-gap: 4rem
        row-gap: 2rem
    
@media all and (min-width: 600px)
    .location
        .container
            grid-template-columns: repeat(2, 15.75rem)

@media all and (min-width: 900px)
    .location
        .container
            grid-template-columns: repeat(3, 15.75rem)

@media all and (min-width: 1200px)
    .location
        .container
            grid-template-columns: repeat(4, 15.75rem)
