.ourteam
    &__filter
        margin: 1rem
        display: flex
        justify-content: center
        flex-wrap: wrap

@media all and (min-width: 1024px)
    .ourteam
        &__filter
            margin: 2rem