#vacancy
    display: grid
    grid-template-rows: minmax(min-content, max-content) 1fr
    min-height: 100vh

.vacancy
    &--align
        display: grid
        grid-template-rows: minmax(min-content, max-content) 1fr
    &__content
        background-color: $palette__background-light