.news-page,
.knowlege-page
    &__breadcrumbs
        margin: 2rem 0 1rem
        
    .breadcrumbs
        .container
            margin: 0 0.5rem
        &__list
            display: flex
            align-items: center
            flex-wrap: wrap
        &__item
            &:not(:last-of-type)
                margin-right: 0.5rem
        &__link
            +textline($palette__secondary, $headline, none)

@media all and (min-width: 360px)
    .news-page,
    .knowlege-page
        .breadcrumbs
            .container
                margin: 0 1rem
@media all and (min-width: 1024px)
    .news-page,
    .knowlege-page
        .breadcrumbs
            &__link
                transition: $fast
                &:hover
                    color: $palette__primary
@media all and (min-width: 1280px)
    .news-page,
    .knowlege-page
        .breadcrumbs
            .container
                margin: 0 auto