.btn
    &--search
        align-self: self-start
        position: absolute
        right: 1rem
        bottom: 1rem
        background-color: transparent
        border: 2px solid $palette__secondary-accent
        border-radius: $border-radius
        padding: 0.25rem 1rem
        +textline($palette__background, $headline, uppercase)
        font-weight: bolder
    &--entry
        width: 100%
        padding: 0.7rem 0
        background-color: $palette__primary
        +textline($palette__background, $headline, uppercase)
        font-weight: bolder
        border: none
        border-radius: $border-radius
        margin: 1.5rem 0 1rem

    
@media all and (min-width: 1024px)
    .btn
        &--search
            transition: $fast
            &:hover
                background-color: $palette__secondary-accent
                cursor: pointer
        &--entry
            transition: $fast
            &:hover
                background-color: $palette__secondary-accent
                cursor: pointer