.btn
    border: none
    background-color: transparent
    &--accent
        justify-self: self-end
        background-color: $palette__primary-accent
        border-radius: $border-radius
        padding: 0.25rem 1rem
        margin: 0.5rem 1rem 1rem
        +textline($palette__background, $headline, uppercase)
        font-weight: bolder
    &--search
        align-self: self-start
        position: absolute
        right: 1rem
        bottom: 1rem
        background-color: transparent
        border: 2px solid $palette__secondary-accent
        border-radius: $border-radius
        padding: 0.25rem 1rem
        +textline($palette__background, $headline, uppercase)
        font-weight: bolder
    &--primary
        width: 100%
        padding: 0.5rem 0
        background-color: $palette__primary
        +textline($palette__background, $headline, none)
        font-weight: bolder
        border-radius: $border-radius
        margin: 0 0 1rem
    &--slick-prev
        background-color: $palette__background
        position: absolute
        top: 1rem
        right: 2.5rem
        padding: 0.25rem
        display: flex
        justify-content: center
        align-items: center
        border-top-left-radius: 50%
        border-bottom-left-radius: 50%
    &--slick-next
        background-color: $palette__background
        position: absolute
        top: 1rem
        right: 1rem
        padding: 0.25rem
        +flex-center
        border-top-right-radius: 50%
        border-bottom-right-radius: 50%
    &--filter-item
        padding: 0.125rem 0.25rem
        +textline($palette__primary, $headline, none)
        font-weight: bolder
        border-bottom: 2px solid transparent
        &:not(:last-of-type)
            margin-right: 0.25rem
        &.is-active
            border-bottom: 2px solid $palette__primary-accent
      
    &--close
        display: block
        position: absolute
        top: 1.2rem 
        right: 0.5rem
        border: none
        width: 1.5rem
        height: 1.5rem
        background-color: transparent
        &::before
            content: ''
            width: 1.5rem
            height: 2px
            transform: rotate(45deg)
            background-color: $palette__secondary-lighten
            display: block
            position: absolute
            transition: $fast
        &::after
            content: ''
            width: 1.5rem
            height: 2px
            transform: rotate(-45deg)
            position: absolute
            background-color: $palette__secondary-lighten
            display: block
            transition: $fast
            
.birth-collegue,
.new-collegue,
.knowlege,
.documents,
.news,
.ourteam
    .btn
        &--pagination-double-prev,
        &--pagination-double-next,
        &--pagination-prev,
        &--pagination-next
            padding: 0.5rem 0.75rem
            +flex-center
            border-radius: $border-radius
            border: 1px solid $palette__primary
            margin: 0 0.25rem
.news-page,
.knowlege-page
    .btn
        &--pagination-prev,
        &--pagination-next
            padding: 0.5rem 0.75rem
            +flex-center
            border-radius: $border-radius
            border: 1px solid $palette__secondary-darken
            margin: 0 0.25rem

.location-popup
    .btn
        &--close
            &::after,
            &::before
                background-color: $palette__background
.birth-collegue
    .btn
        &--filter-item
            text-transform: uppercase
            &:not(:last-of-type)
                margin-right: 0.75rem

.vacancies
    .btn
        &--pagination-double-prev,
        &--pagination-double-next,
        &--pagination-prev,
        &--pagination-next
            padding: 0.5rem 0.75rem
            +flex-center
            border-radius: $border-radius
            border: 1px solid $palette__background-dark
            margin: 0 0.25rem
        &--vacancy-correct,
        &--vacancy-delete
            position: absolute
            z-index: 2
        &--vacancy-delete
            top: 3.25rem
            right: 1.25rem
        &--vacancy-correct
            top: 3.25rem
            right: 3.25rem


@media all and (min-width: 768px)
    .btn
        &--primary
            margin: 1rem 0 1rem
    
@media all and (min-width: 1024px)
    .btn
        transition: $fast
        &--accent
            &:hover
                cursor: pointer
                background-color: lighten($palette__primary-accent, 10%)
        &--search
            &:hover
                background-color: $palette__secondary-accent
                cursor: pointer
        &--primary
            &:hover
                background-color: $palette__secondary-accent
                cursor: pointer
        &--slick-prev,
        &--slick-next
            &:hover
                background-color: darken($palette__background, 10%)
                cursor: pointer
        &--filter-item
            &:hover
                border-bottom: 2px solid $palette__primary-accent
                cursor: pointer
        &--pagination-double-prev,
        &--pagination-double-next,
        &--pagination-prev,
        &--pagination-next
            transition: $fast
            &:hover
                cursor: pointer
                background-color: $palette__primary
                .icon
                    fill: $palette__background
        &--close
            transition: $fast
            top: 1.5rem 
            right: 1rem
            &:hover
                cursor: pointer
                &::after
                   background-color: $palette__primary
                &::before
                   background-color: $palette__primary
    .news-page,
    .knowlege-page
        .btn
            &--pagination-prev,
            &--pagination-next
                &:hover
                    cursor: pointer
                    background-color: $palette__secondary-darken
                    .icon
                        fill: $palette__background  
    .location-popup
        .btn
            &--close
                &:hover
                    &::after,
                    &::before
                        background-color: $palette__secondary-lighten
    .vacancies
        .btn
            transition: $fast
            &:hover
                cursor: pointer
            &--pagination-double-prev,
            &--pagination-double-next,
            &--pagination-prev,
            &--pagination-next
                &:hover
                    background-color: $palette__background-dark
                    .icon
                        fill: $palette__background-light
            
            &--vacancy-correct,
            &--vacancy-delete
                &:hover
                    .icon
                        fill: $palette__primary-accent
