.knowlege
    .content-card
        display: grid
        grid-template-columns: auto
        grid-template-rows: 12.5rem minmax(min-content, max-content) 1fr minmax(min-content, max-content)
        overflow: hidden
        border-radius: $border-radius
        border: 2px solid transparent
        height: 20.5rem
        &__iframe
            width: 100%
            height: 12.5rem
        &__headline
            +textline($palette__primary, $headline, uppercase)
            font-weight: bolder
            margin: 1rem
        &__text
            +textline($palette__primary, $subheadline, none)
            margin: 0 1rem

@media all and (min-width: 1024px)
    .knowlege
        .content-card
            transition: $fast
            &:hover
                border: 2px solid $palette__secondary-accent
                box-shadow: $shadow-lighten