.ourteam,
.new-collegue,
.birth-collegue,
.knowlege,
.documents,
.news
    &__pagination
        +flex-center
        margin: 2rem 0
    .pagination
        &__input
            border: 1px solid $palette__primary
            border-radius: $border-radius
            max-width: 3rem
            padding: 0.5rem
            +textline($palette__primary, $headline, none)
            margin: 0 0.25rem
        &__text,
        &__num
            +textline($palette__primary, $headline, none)
            margin: 0 0.25rem
.news-page,
.knowlege-page
    &__pagination
        display: flex
        justify-content: flex-end
        margin: 2rem 0

.vacancies
    &__pagination
        +flex-center
        padding: 2rem 0
        background-color: $palette__background-light
    .pagination
        &__input
            border: 1px solid $palette__background-dark
            background-color: $palette__background-light
            border-radius: $border-radius
            max-width: 3rem
            padding: 0.5rem
            +textline($palette__background-dark, $headline, none)
            margin: 0 0.25rem
        &__text,
        &__num
            +textline($palette__background-dark, $headline, none)
            margin: 0 0.25rem