.ourteam
    &__user-card
        display: grid
        grid-template-columns: 4.5rem 1fr
        grid-template-rows: repeat(3, minmax(min-content, max-content))
        column-gap: 1rem
        row-gap: 0.25rem
        grid-template-areas: 'img initial' 'img departament' 'elements position'
        padding: 1rem
        border-radius: $border-radius
        background-color: transparent
    .user-card
        &__img
            max-width: 4.5rem
            max-height: 4.5rem
            object-fit: cover
            width: 100%
            height: 100%
            border-radius: $border-radius
            grid-area: img
        &__initial
            grid-area: initial
            +textline($palette__primary, $headline, uppercase)
            font-weight: bolder
            transition: $fast
        &__departament
            grid-area: departament
            +textline($palette__secondary-lighten, $textline, none)
            transition: $fast
        &__position
            grid-area: position
            +textline($palette__secondary-lighten, $textline, none)
            transition: $fast
        &__tooltip-elements
            grid-area: elements
            display: flex
            opacity: 0
            transition: $fast
        .tooltip-element
            display: flex
            align-self: start
            position: relative
            margin: 0.25rem 0
            &:not(:last-of-type)
                margin-right: 0.5rem
        .tooltip
            padding: 0.25rem 0.5rem
            +textline($palette__secondary-lighten, $textline, none)
            background-color: $palette__background
            border-radius: $border-radius
            border: 1px solid $palette__secondary-accent
            display: none
            position: absolute
            left: 105%
            z-index: 1
            &::after
                content: ''
                display: block
                background-color: $palette__background
                border-top: 1px solid $palette__secondary-accent
                border-left: 1px solid $palette__secondary-accent
                width: 0.5rem
                height: 0.5rem
                position: absolute
                left: -5px
                top: 30%
                transform: rotate(-45deg)
            &.is-active
                display: flex


@media all and (min-width: 1024px)
    .ourteam
        &__user-card
            transition: $fast
            &:hover
                cursor: pointer
                background-color: $palette__primary
                box-shadow: $shadow-lighten
                .user-card
                    &__initial,
                    &__departament,
                    &__position
                        color: $palette__background
                    &__tooltip-elements
                        opacity: 1

