extends ../../layout/head
include ../../templates/header
include ../../components/icon
include ../../components/breadcrumbs

block title
	title Портал Моя работа - Вакансии

block links
	link(rel='stylesheet', href='../../css/main.css')
	// Favicon
	link(rel='shortcut icon', href='../../favicon.ico', type='image/x-icon')
block content
	body#vacancy
		+header('../../')
		main.vacancy.vacancy--align
			+breadcrumbs(['Вакансии', 'Название вакансии'], ['pages/vacancies.html', 'pages/inner/vacancy.html'], 'vacancy', '../../')
			.vacancy__content
				.container
					.vacancy__holder
						+icon('../../', 'invalid')
						button.btn.btn--vacancy-delete
							+icon('../../', 'delete')
						button.btn.btn--vacancy-correct  
							+icon('../../', 'correct')
						h1.vacancy__headline Номер вакансии
						h3.vacancy__subheadline Квотируемая категория
						span.vacancy__value Люди с ограничениями по состоянию здоровья
						h3.vacancy__subheadline Образование
						span.vacancy__value Среднее специальное
						h3.vacancy__subheadline Работодатель
						span.vacancy__value ОАО "Кочки из клубочка"
						h3.vacancy__subheadline Специализация
						span.vacancy__value Выпечка хлебной продукции
						h3.vacancy__subheadline Вакансия
						span.vacancy__value Повар
						h3.vacancy__subheadline Стаж по специальности
						span.vacancy__value 3 года
						h3.vacancy__subheadline График 
						span.vacancy__value Сменный
						h3.vacancy__subheadline Адрес рабочего места
						span.vacancy__value г. Кочки из клубочка
						h3.vacancy__subheadline Заработная плата
						span.vacancy__value от 20000
						h3.vacancy__subheadline Транспорт
						span.vacancy__value м. Клубочки

		script(src='../../js/main.js')