extends ../layout/head
include ../templates/header
include ../components/icon
include ../components/tabs
include ../components/pagination
include ../components/contentCard


block title
    title Портал Моя работа - База знаний

block links
    link(rel='stylesheet', href='../css/main.css')
    // Favicon
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
    
block content
    body#knowlege
        +header('/')
        main.knowlege.knowlege--align
            +tabs-nav(['Видеоуроки', 'Вебинары', 'Презентации'], 0, ['one', 'two', 'three'])
                +tabs-content(true, 'one')
                    +contentCard('../', 'knowlege', 'Видеоурок')
                    +contentCard('../', 'knowlege', 'Видеоурок')
                    +contentCard('../', 'knowlege', 'Видеоурок')
                +tabs-content(false, 'two')
                    +contentCard('../', 'knowlege', 'Вебинар')
                    +contentCard('../', 'knowlege', 'Вебинар')
                    +contentCard('../', 'knowlege', 'Вебинар')
                    +contentCard('../', 'knowlege', 'Вебинар')
                +tabs-content(false, 'three')
                    +contentCard('../', 'knowlege', 'Презентация')
            +pagination('knowlege', '../')

        script(src='../js/main.js')
        script(src='../js/tabs.js')

