extends ../layout/head
include ../templates/header
include ../components/icon
include ../components/list
include ../components/popup

block title
    title Портал Моя работа - Адреса

block links
    link(rel='stylesheet', href='../css/main.css')
    // Favicon
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
    
block content
    body#location
        +header('/')
        main.location.location--align
            .container
                +list('../', 'location', 'Флагманские центры', ['на ул. Щепкина', 'на ул. Юных Ленинцев', 'на ул. 9-я Кожуховская'])
                +list('../', 'location', 'ЦАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'САО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'СВАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'ВАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'ЮВАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'ЮАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'ЮЗАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'СЗАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'ЗАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'ТАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'НАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
                +list('../', 'location', 'ЗЕЛАО', ['название отдела', 'название отдела', 'название отдела', 'название отдела', 'название отдела'])
            +locationPopUp('location', '../')
        script(src='../js/main.js')
        script(src='../js/locationPopUp.js')