extends ../layout/head
include ../templates/header
include ../components/icon
include ../components/filter
include ../components/userCard
include ../components/pagination
include ../components/userPopUp

block title
    title Портал Моя работа - Новые сотрудники

block links
    link(rel='stylesheet', href='../css/main.css')
    // Favicon
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
    
block content
    body#new-collegue
        +header('/')
        main.new-collegue.new-collegue--align
            +filter('new-collegue', ['Все','A', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Э', 'Ю', 'Я'], 0)
            section.new-collegue__content
                .container
                    +userCard('new-collegue', '../')
                    +userCard('new-collegue', '../')
                    +userCard('new-collegue', '../')
                    +userCard('new-collegue', '../')
                    +userCard('new-collegue', '../')
                    +userCard('new-collegue', '../')
            +pagination('new-collegue', '../', true, true, true, true, true)
            +userPopUp('new-collegue', '../')
        script(src='../js/main.js')
        script(src='../js/tooltip.js')
        script(src='../js/filter.js')
        script(src='../js/userPopUp.js')