extends ../layout/head
include ../templates/header
include ../components/icon
include ../components/tabs
include ../components/pagination
include ../components/newsCard

block title
    title Портал Моя работа - Новости

block links
    link(rel='stylesheet', href='../css/main.css')
    // Favicon
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
    
block content
    body#news
        +header('/')
        main.news.news--align
            +tabs-nav(['Новости', 'СМИ о нас', 'Новости Департамента', 'Истории', 'Будь в курсе'], 0, ['one', 'two', 'three', 'four', 'five'])
                +tabs-content(true, 'one')
                    +newsCard('s', false, '../')
                    +newsCard('m', 'Истории', '../')
                    +newsCard('m', 'СМИ о нас', '../')
                    +newsCard('s', false, '../')
                +tabs-content(false, 'two')
                    +newsCard('m', 'СМИ о нас', '../')
                    +newsCard('s', false, '../')
                +tabs-content(false, 'three')
                    +newsCard('s', false, '../')
                    +newsCard('m', 'Департамент', '../')
                    +newsCard('s', false, '../')
                +tabs-content(false, 'four')
                    +newsCard('m', 'Истории', '../')
                +tabs-content(false, 'five')
                    +newsCard('s', false, '../')
                    +newsCard('m', 'Будь в курсе', '../')

            +pagination('documents', '../')

        script(src='../js/main.js')
        script(src='../js/tabs.js')