extends ../layout/head
include ../templates/header
include ../components/icon
include ../components/filter
include ../components/userCard
include ../components/pagination
include ../components/userPopUp

block title
    title Портал Моя работа - Наша команда

block links
    link(rel='stylesheet', href='../css/main.css')
    // Favicon
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
    
block content
    body#ourteam
        +header('/')
        main.ourteam.ourteam--align-content
            +filter('ourteam', ['Все','A', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Э', 'Ю', 'Я'])
            section.ourteam__content
                .container
                    +userCard('ourteam', '../')
                    +userCard('ourteam', '../')
                    +userCard('ourteam', '../')
                    +userCard('ourteam', '../')
                    +userCard('ourteam', '../')
                    +userCard('ourteam', '../')
            +pagination('ourteam', '../')
            +userPopUp('ourteam', '../')
        script(src='../js/main.js')
        script(src='../js/tooltip.js')
        script(src='../js/userPopUp.js')