extends ../layout/head
include ../templates/header
include ../components/icon
include ../components/pagination
include ../components/tabs
include ../components/cards

block title
	title Портал Моя работа - Вакансии

block links
	link(rel='stylesheet', href='../css/main.css')
	// Favicon
	link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
block content
	body#vacancies
		+header('/')
		main.vacancies.vacancies--align
			+tabs-nav(['Вакансии', 'Профобучение', 'Тестирование', 'Тренинги'], 0, ['one', 'two', 'three', 'four'])
				+tabs-content(true, 'one')
					+vacancyCard('../', 'vacancies', 'Инвалиды')
					+vacancyCard('../', 'vacancies', 'Молодежь')
					+vacancyCard('../', 'vacancies', 'Молодежь')
					+vacancyCard('../', 'vacancies')
					+vacancyCard('../', 'vacancies', 'Молодежь')
					+vacancyCard('../', 'vacancies')
					+vacancyCard('../', 'vacancies', 'Инвалиды')
				+tabs-content(false, 'two')
					+vacancyCard('../', 'vacancies')
					+vacancyCard('../', 'vacancies', 'Инвалиды')
				+tabs-content(false, 'three')
					+vacancyCard('../', 'vacancies', 'Молодежь')
					+vacancyCard('../', 'vacancies')
					+vacancyCard('../', 'vacancies', 'Инвалиды')
				+tabs-content(false, 'four')
					+vacancyCard('../', 'vacancies', 'Молодежь')
					+vacancyCard('../', 'vacancies')
					+vacancyCard('../', 'vacancies', 'Инвалиды')
					+vacancyCard('../', 'vacancies', 'Молодежь')
					+vacancyCard('../', 'vacancies')
					+vacancyCard('../', 'vacancies', 'Молодежь')
			+pagination('vacancies', '../', true, true, true, true, true)

		script(src='../js/main.js')
		script(src='../js/tabs.js')